#edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
}

h3 {
  font-size: 20px;
}

.edit-form {
  background: url("../../assets/backgrounds/gezi.png");
  background-size: 50%;
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 8px; /* 统一设置间距 */
  padding: 16px;
  border-radius: 10px;
  max-height: 100%;
  overflow-y: auto;
}

.edit-form h3 {
  color: rgb(57, 68, 67);
  margin-bottom: 5px;
}

.edit-form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.edit-form-label {
  font-size: 13px;
  min-width: 35px;
  text-align: left;
  color: rgb(57, 68, 67);
}

.edit-form input,
.edit-form textarea,
.edit-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-form textarea {
  height: 80px;
}

.edit-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 12px;
}

.edit-form-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 添加下拉框样式 */
#edit-category {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-btn,
.add-btn {
  background-color: #65c468;  /* 清新绿色 */
  color: white;
  border: none;
}

.cancel-btn {
  background-color: #e9e9e9;  /* 浅灰色背景 */
  color: #666;               /* 深灰色文字 */
  border: 1px solid #ddd;    /* 浅色边框 */
}

.cancel-btn:hover {
  background-color: #dbdbdb;
  color: #333;
}

.delete-btn {
  background: #ff7171;     /* 基础蓝色 */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.context-menu {
  position: fixed;
  font-size: 15px;
  color: #686868;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu-item:hover {
  background: #f5f5f5;
  border-radius: 4px;
}
