.gift-collection {
  background: url("../../assets/backgrounds/gift.jpg");
  background-size: cover;
}

.gift-collection-total {
  height: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 0.2rem;
}

.gift-collection-total span {
  display: flex;
  font-size: 0.16rem;
  font-weight: bold;
  align-items: center;
  color: rgb(189, 158, 112);
}

.total-gifts-container {
  display: flex;
  padding-left: 0.1rem;
}

.total-gift-item {
  display: flex;
  align-items: center;
  border-radius: 0.05rem;
  padding: 0.05rem 0.1rem;
}

.total-gift-item img {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.05rem;
}

.gift-collection-detail {
  height: calc(100% - 0.5rem);
  width: 100%;
  padding: 10px;
}

.gift-collection-detail-tab {
  height: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  padding-bottom: 0.1rem;
}

.gift-collection-detail-tab .active {
  color: rgb(82, 72, 63);
  filter: brightness(1);
}

.gift-collection-detail-tab-button {
  /* 基础样式 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 1.3rem;
  height: 0.3rem;
  cursor: pointer;
  border: none;
  border-radius: 0.05rem;
  background: url("../../assets/backgrounds/sparkle.jpg");
  background-size: cover;
  filter: brightness(0.6);
  color: #ffffff;
  font-size: 0.16rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 1px rgba(189, 158, 112, 0.7),
    0 0 10px rgba(255, 255, 255, 0.5); /* 发光效果 */
}

.gift-collection-detail-content {
  height: calc(100% - 0.4rem);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gift-collection-detail-content-left {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0 0.1rem 0.1rem 0rem;
  gap: 0.1rem;
}

.gift-collection-detail-content-left::-webkit-scrollbar {
  display: none;
}

.gift-collection-detail-element {
  font-size: 13px;
  font-weight: 500;
  color: rgb(225, 208, 188);
  padding: 0.09rem;
  word-wrap: break-word; /* 允许长单词换行 */
  word-break: break-word; /* 强制在需要时断开单词 */
  white-space: normal; /* 允许文本正常换行 */
  cursor: pointer;
  background: url("../../assets/backgrounds/event.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(96, 77, 63);
}

.gift-collection-detail-content-left .active {
  color: rgb(129, 108, 89);
  background: url("../../assets/backgrounds/event2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(212, 194, 170);
}

.gift-collection-detail-content-right {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.1rem;
  background: url("../../assets/backgrounds/parchment.jpg");
  scrollbar-width: none;
}

.gift-collection-detail-content-right::-webkit-scrollbar {
    display: none;
  }

.gift-collection-detail-main-gift {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  padding-bottom: 0.05rem;
}

.gift-item {
  display: flex;
  align-items: center;
}

.gift-item img {
  width: 0.3rem;
  height: 0.3rem;
}

.gift-item span {
  font-size: 0.14rem;
  color: rgb(100, 85, 66);
}

.gift-collection-detail-content-right p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(100, 85, 66);
  padding-bottom: 0.05rem;
  text-indent: -5em;
  margin-left: 5em;
}


.gift-collection-detail-content-right-exploration {
  font-size: 14px;
  font-weight: 500;
  color: rgb(100, 85, 66);
  padding-bottom: 0.05rem;
}

@media only screen and (max-width: 900px) {
  .gift-collection-detail-element {
    font-weight: 600;
  }

  .gift-collection-detail-content-right p {
    font-weight: 600;
  }
}