.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black; /* Set the background color to black */
  z-index: 0;
}

.mapboxgl-ctrl-bottom-right .costom-ctrl {
  margin: 0 30px 40px 0;
  float: right;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-zoom-in:hover,
.mapboxgl-ctrl-zoom-out:hover {
  transform: scale(1.1);
}

.mapboxgl-ctrl-zoom-in {
  background: url("./assets/icons/zooms/in.png");
  background-size: cover;
}

.mapboxgl-ctrl-zoom-out {
  background: url("./assets/icons/zooms/out.png");
  background-size: cover;
}

/* 滑块容器样式 */
.mapboxgl-ctrl-slider-container {
  position: relative;
  height: 170px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* 滑块轨道样式 */
.mapboxgl-ctrl-slider-track {
  width: 10px;
  height: 100%;
  background: rgb(223, 159, 169);
  border-radius: 5px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* 滑块按钮样式 */
.mapboxgl-ctrl-slider-thumb {
  width: 50px;
  height: 50px;
  background: url("./assets/icons/zooms/momo.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  padding-bottom: -20px;
}

.mapboxgl-ctrl-fullscreen {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url("./assets/icons/elf.png");
  background-size: cover;
}
