.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black; /* Set the background color to black */
  z-index: 0;
}

.mapboxgl-ctrl-bottom-right .costom-ctrl {
  margin: 0 20px 30px 0;
  float: right;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-zoom-in:hover,
.mapboxgl-ctrl-zoom-out:hover {
  transform: scale(1.1);
}

.mapboxgl-ctrl-zoom-in {
  background: url("../../assets/icons/zooms/in.png");
  background-size: cover;
}

.mapboxgl-ctrl-zoom-out {
  background: url("../../assets/icons/zooms/out.png");
  background-size: cover;
}

/* 滑块容器样式 */
.mapboxgl-ctrl-slider-container {
  position: relative;
  height: 150px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* 滑块轨道样式 */
.mapboxgl-ctrl-slider-track {
  width: 10px;
  height: 100%;
  background: rgb(223, 159, 169);
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* 滑块按钮样式 */
.mapboxgl-ctrl-slider-thumb {
  width: 50px;
  height: 50px;
  background: url("../../assets/icons/zooms/momo.png") no-repeat center;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  padding-bottom: -20px;
}

.mapboxgl-ctrl-fullscreen {
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url("../../assets/icons/elf.png");
  background-size: cover;
}

/* 地图右上角按钮容器 */
.map-action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.map-action-btn {
  position: relative;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-action-btn img {
  width: 0.3rem;
  height: 0.3rem;
}

.map-action-btn-tip-container {
  right: 100%;
  top: 50%;
  -webkit-transform: translate(-0.1rem, -50%);
  -ms-transform: translate(-0.1rem, -50%);
  transform: translate(-0.1rem, -50%);
  padding: 0.06rem 0.1rem;
  border-radius: 0.04rem;
  position: absolute;
  color: #ece5d8;
  background: #323947;
  white-space: nowrap;
  font-size: 0.1rem;
  display: none;
}

.map-action-btn-tip {
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-1px, -50%);
  -ms-transform: translate(-1px, -50%);
  transform: translate(-1px, -50%);
  border-left: 0.07rem solid #323947;
  border-top: 0.05rem solid transparent;
  border-bottom: 0.05rem solid transparent;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.map-action-btn:hover .map-action-btn-tip-container {
  display: block;
}

.screen-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.screen-popup-container {
  background-color: #ece5d8;
  width: 5rem;
  max-width: 90%;
  height: 5rem;
  max-height: 90%;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px ridge #d3bc8e92;
}

.screen-popup-header {
  height: 0.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: #e7dbc4;
  border-radius: 8px;
}

.screen-popup-header h3 {
  margin: 0;
  padding: 0.1rem;
  font-size: 20px;
  text-align: center;
  color: rgb(77, 93, 93);
  height: 100%;
}

.screen-popup-close-btn {
  cursor: pointer;
  position: absolute;
  top: 0rem;
  right: 0.1rem;
  width: 0.24rem;
  height: 0.24rem;
  font-size: 0.24rem;
}

.screen-popup-content {
  width: 100%;
  height: calc(100% - 1rem);
  overflow: hidden;
}

.screen-popup-footer {
  height: 0.5rem;
}

.screen-popup-footer span {
  position: absolute;
  color:rgb(77, 93, 93);
  bottom: 0;
  right: 0;
  margin: 0.1rem;
  font-size: 14px;
}

.map-action-content-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
